* {
    box-sizing: border-box                
}
/* ---------------------body/main---------------------------- */
body {
    color:#141414;
    background: #f4e2db;
    margin: 0;
    font-family: sans-serif;
}    

main {
    margin-bottom: 82px;
}
/* ---------------------header---------------------------- */
.header_desktop {
    color: #faf0ed;
    border-bottom: none;
    margin: auto;
    padding: 20px 20px;
    background-color: #393a4a;
    display:flex;
    text-align: center;
}

.desc{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.logo-img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.header-mobil-panel {
    min-width: 400px;
    display: flex;
}

.button-mobil-panel{
    height: 30px;
    weight: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

/* ---------------------footer---------------------------- */
.footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    bottom: 0;
    right:0;
    left:0;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#393a4a;
    text-align: center;
    justify-content: space-around;
}

.footer-feedback-link > div > a {
    color:#faf0ed;
    text-decoration: none;
}

.footer-description {
    color: #faf0ed;
}






/* ---------------------нормальные стили тут---------------------------- */
.main__form-wrapper {
    background:#db9d88;
    width: 600px;
    height: 780px;
    margin-top: 60px;
    margin-left: calc((100vw - 600px) / 2);
    font-family: 'Roboto', normal;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-wrapper__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #393a4a;
}

.form-wrapper__input-group {
    padding: 0 0 11px 0;
    color: #393a4a;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.form-wrapper__input-group > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.form-wrapper__input-group > div > div {
    width: auto;
    text-align: right;
    color: #EE2424;
}

.hidden {
    opacity: 0;
}

.form-wrapper__input-group label::before {
    content: '*';
    position: absolute;
    opacity: 1;
    left: -10px;
}

.form-wrapper__input-group > label {
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0.3125em;
    font-family: 'Roboto', normal;
}

.form-wrapper__input-group > input {
    color: #787878;
    border: 2px solid #c57154;
    border-radius: 10px;
    font-family: 'Roboto', normal;
    font-weight: 300;
    font-size: 1.5em;      
    line-height: 1.286em;   
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);
    opacity: 1;
}

/* .form-wrapper__input-group > button {
    border-radius: 10px;
} */

.form-wrapper__input-group > .red-border {
    border: 2px solid #EE2424;
}

.form-wrapper__radio-group {
    margin-bottom: 1px;
}

.form-wrapper__radio-group label {
    color: #393a4a;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.radio-group__radio-item {
    justify-content: baseline;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.radio-group__radio-item label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    margin-top: 4px;
}

.radio-group__radio-item input+label {
    color: #393a4a;
}

.radio-group__radio-item label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #393a4a;
    border-radius: 50%;
}

.radio-group__radio-item label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background: #393a4a;
    opacity: 0;
    transition: opacity 0.2s;
}

.radio-group__radio-item input:checked+label::after {
    opacity: 1;
}

.radio-group__radio-item input {
    margin: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.form-wrapper__text-group {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper__text-group textarea {
    resize: none;
    width: 100%;
    height: 200px;
    font-family: 'Roboto', normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 36px;
    padding-left: 5px;
    padding-top: 7px;
    color: #787878;
    border: 2px solid #c57154;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);
    margin-bottom: 10px;
}

.form-wrapper__text-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #393a4a;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-wrapper__checkbox-group {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}

.form-wrapper__checkbox-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #393a4a;
    margin-left: 10px;
    margin-top: 4px;
}

.form-wrapper__checkbox-group label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;    
    border: 2px solid #393a4a;
}

.form-wrapper__checkbox-group label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    height: 12px;
    width: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    background: #393a4a;
}

.form-wrapper__checkbox-group input:checked+label::after {
    opacity: 1;
}

.form-wrapper__checkbox-group input {
    opacity: 0;
    width: 24px;
    height: 24px;
    margin: 0;
}

.form-wrapper__button-bloсk {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.button-bloсk__enter {
    text-align: center;
    width: fit-content;
    background-color:#faf0ed;
    border: 1px solid  #faf0ed;
    border-radius: 10px;
    font-family: 'Roboto', normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    padding: 16px;
    color: #393a4a;
    margin-top: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5); 
}

@media screen and (min-width: 269px) and (max-width: 600px) {
    .main {
        min-width: 272px;
    }

    .main__form-wrapper {
        width: 100%;
        min-width: 268px;
        margin-left: 0;
    }

    .form-wrapper__input-group > input {
        padding-left: calc(15px - (13/220 * (600px - 100vw)));     /* 15 - 2 = 13px. 600 - 380 = 220px. 380px макс ширина формы когда текст помещается в input */
        font-size: calc(28px - (12/332 * (600px - 100vw)));  /* 28px - 16px = 12px. 600px - 268px = 332px */
    }

    .form-wrapper__text-group textarea {
        padding-left: calc(15px - (13/220 * (600px - 100vw)));     /* 15 - 2 = 13px. 600 - 380 = 220px. 380px макс ширина формы когда текст помещается в input */
        font-size: calc(28px - (12/332 * (600px - 100vw)));  /* 28px - 16px = 12px. 600px - 268px = 332px */
    }
}

@media screen and (max-width: 268px) {
    .main {
        min-width: 272px;   
    }

    .main__form-wrapper {
        width: 100%;
        min-width: 268px;
        margin-left: 0;
    }

    .form-wrapper__input-group > input {
        padding-left: 2px;
        font-size: 16px;
    }

    .form-wrapper__text-group textarea {
        padding-left: 2px;
        font-size: 16px;
    }
}

@media screen and (max-width: 402px) {
    .form-wrapper__checkbox-group label {
        line-height: 12px;
        margin-top: 0;
    }
}