.the-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    color: #fff;
    background: #393a4a;
    background: #898b9c;
    background: #f4e2db;
    background: #db9d88;
    background: #c57154;
    background: #faf0ed;
    background:#fdfaf9;
    background:#e6baac;
    background:#1a1b22;
    background:#dddee3;
    background:#53556c;
    background:#707287;
    background:#abacb9;
    background:#bcbdc7;
    background:#eeeef1;
    background:#f7f7f8;
    background:#d00000;
    background:#000;
}
